<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR ABOUT -->
<h1><%= title %> Me </h1>

<% include ../partials/head.ejs %>
<img src="/Assets/images/me1.png" alt="" class="img-rounded">
<p><%= present %></p>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  <img src="/Assets/images/me2.png" alt="" class="img-rounded">
  </div>
</div>
        
       
          
  

  
<% include ../partials/footer.ejs %>
