<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR HOME -->
 <div class = "left">
 <h2 class="welcome">Welcome to my website</h2>
 </div>
 <div class = "right">  
 <h1 class="name"><%=name %></h1>
 <div class ="intro">
  <p>I am a software developer from China living in Canada, where I study  software engineering technology at Centennial College. I am good at 
 Java and android application development.</p><br><br>
 <p>If you want to know more about me, discover from my website.</p>
 </div>
 </div>
 
 <% include ../partials/footer.ejs %>
 
   
