<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR SERVICES -->
  <div class="container">
  <% include ../partials/jumbotron.ejs %>
  <div class = "content">
  <ul>
      <% services.forEach(function(service) { %>
       <li> <h3><%= service.name %></h3></li>
         <p><%= service.description %></p>
    <% }); %>
    </ul>
  </div>
<% include ../partials/footer.ejs %>
  </div> <!-- /container -->
<% include ../partials/scripts.ejs %>