<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR SERVICES -->
  <div class="container">
  <% include ../partials/jumbotron.ejs %>




  
  </div> <!-- /container -->
<% include ../partials/footer.ejs %>