<!DOCTYPE html>
<html>
  <head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS -->
    <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  
<body >
   <div class="homeImg">
   <img src="/Assets/images/pic.PNG" alt="" >
   </div>
 <div class="home">
 <h1>SISI LI</h1>
 <div class = "intro">
 <p>I am a software developer and I graduate from Centennial College where I study for software engineering technology
 </p>
 </div>
 </div>
 
    <!-- Scripts -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
