/*  custom css*/
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  
    /* Location of the image */
  background-image: url(/Assets/images/background.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
   background-color: #464646;
   
}

nav {
     opacity: 0.7;
     background-color: #64FCEF;    
}

.active {
    background-color: lightblue;
}

#home {
    text-align: center;
}

#name{
    font-family: 'Oswald', sans-serif;
    font-size: 9em;
    font-weight: bold;
    color:#64FCEF;
    text-align: center;
}
#welcome {
      margin-top: 5%;
      font-size: 4em;
      text-align: center;
      color:white;
      font-family: 'Indie Flower', cursive;
}
.container {
      background-color:rgba(49,87,102,0.5);
      color:white;
      max-width: 60%;
}

h1, h2 {
    color:#64FCEF;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 4em;
    margin: 5% auto;
}
h3{
   color:#64FCEF; 
   font-weight: bold;
   font-family: 'Oswald', sans-serif;
   margin-top:5%;
} 


p {
      font-family: Georgia, serif;
      color: white;
      font-size: 15px;
}

.main {
    text-align: center;
    margin:auto 10%;
    
}

.row {
    margin-top: 8%;
}
.marketing {
margin-top: 0%;
}

.projectImg{
    margin: 5% auto;
}













